{
  "presets": [
    [
      "env"
    ]
  ],
  "plugins": [
    "babel-plugin-inline-import",
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src"
        }
      }
    ]
  ]
}